
.App {
  background-image: url('./images/bann1.jpg');
  margin: auto;
  height: 107.8vh;
}
.Content {
  background: white;
  width: 880px;
  margin-left: 250px;
  padding-left: 60px;
  opacity: 0.3;
  padding-top: 20px;
  margin: auto;
  height: 20vh;
  
  height: 685px;
}
h2 {
  float: left;
}

.App-logo {
  animation: App-logo-spin infinite 15s linear;
  height: 80px;
  filter: brightness(100%);
  float: left;
  margin-top: 7px;
}

.App-header {
  background-color: white;
  height: 120px;
  padding: 20px;
  font-size: 0.6cm;
  margin-left: 10px;
}

.App-title {
  font-size: 2em;
  margin-left: 100px;
  margin-top: 20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.Nav-bar {
  margin-top: 20px;
}
.Nav-bar ul li {
  list-style-type: none;
  float: left;
  background: black;
  margin-left: 0px;
  margin: 9px;
  width: 170px;
  font-size: 1.3em;
  text-align: center;
  padding: 10px;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 5px 5px 5px 5px;
}
ul li a{
  text-decoration: none;
  padding: 5px;
  text-align: center;
  padding: 10px;
  color: white;
  font-weight: bold;
}
ul li:hover{
  background: white;
  color: black;
}
ul li a:hover{
  background: white;
  color: black;
}
.Profile {
  width: 250px;
  margin: 8px;
  float: left;
}
.Contents {
  /*margin-top: 10px;
  margin-left: 100px;*/
  margin: auto;
  height: auto;
}
.contents {
  font-size: 20px;
  color: #000000;
  font-weight: bold;
  /*background-image: url('./images/con-rit-bg.png');*/
  margin: auto;
  height: 20vh;
}
.Left {
  float: left;
  margin-left: -50px;
  /*background-image: url('./images/bk.jpg');*/
  width: 280px;
}
.Right {
  float: right;
  /*background-image: url('./images/bk.jpg');*/
  margin-right: 10px;
  margin-top: -205px;
  width: 250px;
}
.Center {
  float: center;
}
.Labels {
  font-size: 20px;
  font-weight: bold;
}
.Inputs {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 350px;
  height: 30px;
  border: solid;
  border-radius: 5px;
}
.Comment {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 350px;
  height: 100px;
  border: solid;
  border-radius: 5px;
}
.Add {
  width: 110px;
  height: 50px;
  font-size: 20px;
  padding: 10px;
  background: black;
  color: white;
}
.FormInputs {
  float: left;
  margin-right: 40px;
}
.footer {
  margin: auto;
  height: 5vh;
}